.leftDiv {
  width: 20%;
  float: left;
  margin: auto;
  text-align: center;
  align-content: center;
}
.rightDiv {
  max-width: 800px;
  float: right;
  margin: auto;
}
.article1 {
  max-width: 100%;
  max-height: 600px;
}
.article2 {
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
  clear: both;
}
.littleSubTitle {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: rgb(8, 8, 46);
}
.unorderedList1 {
  list-style-type: none;
  line-height: 2.5;
}
.unorderedList2 {
  list-style-type: square;
}