.title {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 40px;
  text-align: center;
  font-style: italic;
  text-shadow: 10px 5px 5px rgba(142, 212, 245, 0.973);
  color: rgb(6, 6, 88);
}.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 100px;
}
.phone {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.email {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.imgLink:hover {
  outline: 2px ridge cornflowerblue;
}

.subTitle {
  font-size: 30px;
  text-align: center;
  color: rgb(47, 79, 224);
}