.navigation {
    background-color: black;
    padding: 0px;
    position: sticky;
    top: 0;
}

.navigation__navLink {
    text-decoration: none;
    text-align: center;
    display: flex;
    align-self: center;
    color: azure;
    background-color: rgb(26, 19, 19);
    padding: 5px;
    border: 5px solid rgba(14, 5, 22, 0.829);
    border-radius: 5px;
}

.navigation__navLink:hover {
    border: 5px dashed rgb(226, 247, 39);
    background-color: black;
    
}

.navigation__unorderedList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 2;
    margin-top: 0;
}