.table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
  }
  .table__row:nth-child(even) {
    background-color: rgb(44, 42, 42);
    color: aliceblue;
  }
  .table__row:hover {
    background-color: rgb(231, 211, 29);
    color: rgb(0, 0, 0);
    font-weight: 800;
  }
  .table__cell--header {
    color: azure;
    background-color: rgb(26, 22, 22);
    border: 2px outset rgb(61, 56, 56);
    padding: 10px;
  }
  .table__cell {
    padding: 10px;
    border: 2px solid black;
  }