.table {
    text-align: center;
    border-collapse: collapse;
  }
  .tableRow:nth-child(even) {
    background-color: rgb(134, 126, 126);
  }
  .tableRow:hover {
    background-color: crimson;
    color: aliceblue;
  }
  .tableHeader {
    color: azure;
    background-color: rgb(75, 122, 207);
    border: 2px outset black;
    padding: 10px;
  }
  .tableCell {
    padding: 10px;
    border: 2px solid black;
  }